
/* Custom css goes here */
/*  File name          app.css
    Author's name      Nusrat Ara Riaz
    Web site name      nusratarasg.github.io
    File description   This file contain custom styles  */
h3{
	text-align: center;
	color:darkolivegreen;
}
h5{
	text-align:center;
	color: white;
}
h4{color:black;}
h6{color:white;
font-family: Arial, Helvetica, sans-serif;}
.color{color:olive;}

.projcolor{background-color: #6c757d;
color:darkorchid;}
.mycolor{
	background-color:lightgrey;
	color:olive;}
.myimg{
		float: right;margin-left:6px; margin-top: 5px; vertical-align: text-bottom;
		
	}
caption {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		color: #6c757d;
		text-align: left;
		caption-side: bottom;
	  }
	  #mission {color:white;padding:10px;width:150px;text-align: center;line-height: 0.5}
/* Form Css Starts here*/
/*Fieldset groups display for Contact us form
//Group1*/

	


#footer {
	border-radius: 10px;
	box-shadow: 5px 5px 4px #CCCCCC;
	margin-bottom: 5px;
	background-color: #263786;
	color: #FFFFFF;
	font-size:x-small;
	padding-top: 0px;
	text-align:center
}

#bkcolor1 {background-color:lightgrey;}
#bkcolor2 {background-color:rgba(172, 212, 252, 0.863);}
#bkcolor3 {background-color:lightgrey;}

.button1 {
	border-radius: 30px;
	background-color: #3D4047;
	border: none;
	color:azure;
	padding: 8px 16px 8px 16px;
	text-decoration: blink;
	margin: 4px 2px;
	cursor: pointer;
	font-size: medium;
	font-weight: normal;
}
.button2 {
	border-radius: 10px;
	background-color: #3D4047;
	border: none;
	color:azure;
	padding: 8px 16px 8px 16px;
	text-decoration: blink;
	margin: 4px 2px;
	cursor: pointer;
	font-size: medium;
	font-weight: normal;
}
.button3 {
	border-radius: 10px;
	background-color: #3D4047;
	border: none;
	color:azure;
	padding: 8px 16px 8px 16px;
	text-decoration: blink;
	margin: 4px 2px;
	cursor: pointer;
	font-size: medium;
	font-weight: normal;
}

/* End of From Css*/
/*

#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}*/

#imag{
	float: right;margin-left:6px; margin-top: 5px; vertical-align: text-bottom
}
.mybullet {  
	
	list-style-image: url('./Assets/images/red-star-bullet-clipart.png');
}


