@font-face {
    font-family: 'Dock51';
    src: url('/Assets/fonts/Dock51.woff2') format('woff2'),
         url('/Assets/fonts/Dock51.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: lightgrey;
}

#canvas {
    border: 1px black dotted;
    background-color: white;
    border-radius: 1%;
}